

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Marce's Personal Site </title>
  </head>

  <body>
    <img src="../static/Marce.jpg" alt="Marcela's picture">

    <h1>Marce HB </h1>
    <br>
    <p>
      <em>Data Scientist and Tech Lead at <a href="https://www.globant.com/?utm_source=google&utm_medium=cpc&utm_campaign=a:mkt_r:lat_bo:crp_cn:bt-campaigns_s:google_m:cpc_o:ldg_bi:cpc_f:tx_y:2022_m:1_id:100018_ac:ao_t:latam&gclid=Cj0KCQiA54KfBhCKARIsAJzSrdpGgb_kk_O-bh5bTm34FzKvYQpXr2vIEn5uKDg64BxMzbVEZYk8KyIaAirrEALw_wcB"> Globant </a> </em>
      <br>
      I am a Data Scientist based in Colombia.
    </p>
    <hr>
    <h3>Education</h3>
    <ul>
      <li>Diploma, Artificial Intelligence</li>
      <li>Bachellor's Degree, Statistics</li>
      <li>Bachellor's Degree, Physics</li>
    </ul>
    <br>
    <a href="Hobbies.html"> My Hobbies</a>
    <br>
    <a href="contact_me.html"> Contact me </a>





  </body>

</html>